src/main/java/com/saber/simple_soap/soap/client/helloService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.simple_soap.saber.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="HelloService" targetNamespace="http://soap.simple_soap.saber.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.simple_soap.saber.com/" xmlns:ns1="http://services.sample_cxf_soap.saber.com/" elementFormDefault="unqualified" targetNamespace="http://soap.simple_soap.saber.com/" version="1.0">

  <xs:import namespace="http://services.sample_cxf_soap.saber.com/"/>

  <xs:element name="SayBye" type="tns:SayBye"/>

  <xs:element name="SayByeResponse" type="tns:SayByeResponse"/>

  <xs:element name="SayHello" type="tns:SayHello"/>

  <xs:element name="SayHelloResponse" type="tns:SayHelloResponse"/>

  <xs:complexType name="SayHello">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SayHelloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageResponse" type="ns1:MessageResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SayBye">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SayByeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageResponse" type="ns1:MessageResponse"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.sample_cxf_soap.saber.com/" targetNamespace="http://services.sample_cxf_soap.saber.com/" version="1.0">

  <xs:element name="MessageResponse" type="tns:MessageResponse"/>

  <xs:complexType name="MessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="SayHello">
    <wsdl:part element="tns:SayHello" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SayHelloResponse">
    <wsdl:part element="tns:SayHelloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SayBye">
    <wsdl:part element="tns:SayBye" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SayByeResponse">
    <wsdl:part element="tns:SayByeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HelloService">
    <wsdl:operation name="SayHello">
      <wsdl:input message="tns:SayHello" name="SayHello">
    </wsdl:input>
      <wsdl:output message="tns:SayHelloResponse" name="SayHelloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayBye">
      <wsdl:input message="tns:SayBye" name="SayBye">
    </wsdl:input>
      <wsdl:output message="tns:SayByeResponse" name="SayByeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloServiceSoapBinding" type="tns:HelloService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="SayHello" style="document"/>
      <wsdl:input name="SayHello">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SayHelloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayBye">
      <soap:operation soapAction="SayBye" style="document"/>
      <wsdl:input name="SayBye">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SayByeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloService">
    <wsdl:port binding="tns:HelloServiceSoapBinding" name="HelloServicePort">
      <soap:address location="http://localhost:9090/helloService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>